.container {
  background-color: #3d4146;
  height: 60px;
  display: flex;
  color: white;
  justify-content: space-around;
}

.left-section,
.right-section {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.divider {
  height: 45%;
  width: 1px;
  background-color: white;
}
